.header {
  width: auto;
  margin: 0 auto;
}

.header__logo {
  margin: 45px 0 0;
  width: 173px;
  height: 33px;
}

.header__line {
  margin: 41px 0 0;
  width: auto;
  height: 1px;
  border: 1px;
  background-color: #545454;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 0 19px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 45px 0 0;
    width: 126px;
    height: 24px;
  }
}
