.position_first_field {
  position: absolute;
  top: 105px;
}

.position_second_field {
  position: absolute;
  top: 170px;
}

.position__button {
  position: absolute;
  top: 243px;
}

.position_first_field-error {
  position: absolute;
  top: 135px;
}

.position_second_field-error {
  position: absolute;
  top: 200px;
}
